{% extends "layouts/admin/base-account-question.html" %}

{% block pageTitle %}
Select recipient
{% endblock %}


{% block content %}


   <h1 class="govuk-heading-l">
    Which installation do you want to transfer allowance to?
    </h1>
    
    <form class="form" action="select-recipient" method="post">
      {{ govukRadios({
        idPrefix: "select-recipient",
        name: "ets-transfer-allowance[select-recipient]",
        fieldset: {},
        items: [
          {
            value: "existing",
            text: "Existing recipient",
            hint: {
              text: "You saved this recipient before or it's an installation you manage."
            },
            checked: checked("['ets-transfer-allowance']['select-recipient']",'existing')
          },
          {
            value: "new",
            text: "New recipient",
            hint: {
              text: "You have not saved this recipient before."
            },
            checked: checked("['ets-transfer-allowance']['select-recipient']",'new')
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>


{% endblock %}
