$base-grey-light: #F5F5F5;

.beis-actions-container {
    background-color: $base-grey-light;
    margin-bottom: 50px;
}

div .beis-actions {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-top: 10px;
}
