{% extends "layouts/admin/base.html" %}

{% set pageID = "your-cases" %}

{% block pageTitle %}Your cases {{'- ' + serviceName}}{% endblock %}

{% block content %}

<div class="jui-width-container">

  <main class="govuk-main-wrapper" role="main">

    {% if success %}
      {{ hmctsBanner({
          type: 'success',
          text: success,
          iconFallbackText: 'Success'
        }) }}
    {% endif %}

    {{ hmctsPageHeaderWithActions({
      title: {
        html: '<h1 class="govuk-heading-xl">Your accounts</h1>'
      },
      items: [{
        text: 'Get new case',
        href: './get-new-case'
      }]
    }) }}

    {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {text: 'Account'},
          {text: '--'},
          {text: 'Type'},
          {text: 'Status'},
          {text: '---'},
          {text: '---'}
        ],
        rows: data['installations']
      }) }}

      <a href="/account/">Scunthorpe Integrated Iron & Steel Works</a>

  </main>

</div>

{% endblock %}
