{% extends "layouts/admin/base-account.html" %}

{% block pageTitle %}Summary {{'- ' + serviceName}}{% endblock %}

{% block content %}

          {{ hmctsTimeline({
            headingLevel: 3,
            events: data['recentEvents']
          })}}

          <!--
    {{ hmctsSubNavigation({
      items: data['accountsNavItems']
    }) }}
          -->

      <h2 class="govuk-heading-m">Holdings</h2>
      <P>You have <strong>2500</strong> units. You need to surrender <strong>2160</strong> units by 20 April 2019.</p>
      <h2 class="govuk-heading-m">Compliance History</h2>
<table class="govuk-table" data-type="compliance-period">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header" scope="col">Date submitted</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Year</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Emissions reported</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Allowance surrendered</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Balance</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">19 March 2014</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2013</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,938</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,938</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
              <td class="govuk-table__cell" scope="row">20 March 2015</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2014</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,480</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,480</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">29 March 2016</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2015</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,960</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3,050</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">90</td>
          </tr>
          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">29 March 2017</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2016</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,560</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,470</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">29 March 2018</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2017</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,560</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2,470</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          </tr>

          <tr class="govuk-table__row govuk-!-font-size-16">
            <td class="govuk-table__cell" scope="row">29 March 2019</th>
            <td class="govuk-table__cell govuk-table__cell--numeric">2018</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><span class="jui-status  jui-status--new  govuk-!-margin-left-1">Due soon</span></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">N/A</td>
          </tr>

        </tbody>
      </table>

      <h2 class="govuk-heading-m">Transaction History</h2>
<table class="govuk-table" data-type="transactions">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-!-font-size-16">
            <th class="govuk-table__header" scope="col">Reference</th>
            <th class="govuk-table__header" scope="col">Started</th>
            <th class="govuk-table__header " scope="col">Last updated</th>
            <th class="govuk-table__header " scope="col">Type</th>
            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Units</th>
            <th class="govuk-table__header" scope="col">Unit Type</th>
            <th class="govuk-table__header" scope="col">Transferring Acct</th>
            <th class="govuk-table__header" scope="col">Acquiring Acct</th>
            <th class="govuk-table__header" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
            {% for tx in data['transactions'] %}
          <tr class="govuk-table__row govuk-!-font-size-16">
              <th class="govuk-table__cell" scope="row"><a href="#">{{ tx.transactionId }}</th>
              <td class="govuk-table__cell ">{{ tx.started }}</td>
              <td class="govuk-table__cell ">{{ tx.lastUpdated }}</td>
              <td class="govuk-table__cell ">{{ tx.type }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric ">{{ tx.units }}</td>
              <td class="govuk-table__cell ">{{ tx.unitType }}</td>
              <td class="govuk-table__cell ">{% if tx.transferringAccount == "this" %}{{ installationData.permitId }}{% else %}{{ tx.transferringAccount }}{% endif %}</td>
              <td class="govuk-table__cell ">{% if tx.acquiringAccount == "this" %}{{ installationData.permitId }}{% else %}{{ tx.acquiringAccount }}{% endif %}</td>
              <td class="govuk-table__cell ">{{ tx.status }}</td>
          </tr>
            {% endfor %}

        </tbody>
      </table>
{% endblock %}
